@import url('https://fonts.googleapis.com/css?family=Product+Sans');

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  margin: 0;
}

label {
  font-weight: bold;
}

h2 {
  font-family: 'Product Sans', sans-serif;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"],
button[type="button"] {
  background-color: #87cefa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="back"] {
  background-color: lightcoral;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: navy;
}

button[type="back"]:hover {
  background-color: darkred;
}

#firstname,
#lastname,
#username,
#password,
#confirm-password,
#classcode {
  font-weight: bold;
}

.form-floating {
  margin-bottom: 2rem;
}

.square-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 37.5%;
  height: 37.5%;
  background-color: lightblue;
}

.square-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 37.5%;
  height: 37.5%;
  border: 2px solid lightblue;
  border-radius: 10px;
  opacity: 0.7;
  background-image: repeating-linear-gradient(-45deg, lightblue, lightblue 2px, #f2f2f2 2px, #f2f2f2 40px);
  
}

.button {
  margin-bottom: 10px;
  background-color: #87cefa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-right: 10%;
}

.button:hover {
  background-color: navy;
}
